<!DOCTYPE html>
<html>
  <head>
    <title><%= username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= id %></h1>
    <p>Welcome, <%= username %></p>
  </body>
</html>
