<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% for(let i = 0; i < title.length; i++) { %>
          <li><%- title[i] %> <%- body[i] %>
          </li>
      <% } %>

    </ul>
    <% if(nextId != 0){ %>
      <a id="next" href="http://localhost:3000/blogs/<%=username%>?start=<%=nextId%>">next page</a>
    <% }%>

  </body>

</html>
